<!DOCTYPE html> 
{% load static%}
{% load static %}
 <html lang="en" dir="ltr"> 
      <head> 
           <meta charset="utf-8"> 
            <title></title> 
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
              <link rel="stylesheet" href="{% static "css/movie.css"%}"> 
               <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 
             </head> 
              <body> 
                   <h1>books Information</h1> 
                    {% if books_list %}  <table> 
                        <thead> 
                             <th>AuthorName</th>
                             <th>BookName</th> 
                             <th>ISBNno</th> 
                              <th>Rdate</th> 
                             </thead>
                             {% for book in books_list%} 
                              <tr> 
                                   <td>{{book.AuthorName}}</td> 
                                    <td>{{book.BookName}}</td> 
                                     <td>{{book.ISBNno}}</td> 
                                      <td>{{book.Rdate}}</td> 
                                     </tr> 
                                      {% endfor %} 
                                     </table> 
                                      {% else %} 
                                       <p>No books Found</p> 
                                        {%endif%} 
                                     </body> 
                                      </html>